.container {
  color: #fff;
  max-width: 50rem;
  width: 90%;
  height: 100%;

  margin: 0 auto;
  display: grid;
  grid-template-rows:
    auto
    1fr;

  overflow: hidden;
}

.tasksContainer {
  margin-top: 1rem;
  overflow-y: auto;

  scrollbar-width: thin;
}
.tasksContainer::-webkit-scrollbar {
  width: 7px;
}
.tasksContainer::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #111;
}
.tasksContainer::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 5px;
}

.empty {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
