.container {
  color: #fff;
  max-width: 50rem;
  width: 90%;

  margin: 0 auto;
}

.tasksHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tasksHeader span {
  font-weight: 700;
}

.purple {
  background: blueviolet;
  background: -webkit-linear-gradient(180deg, violet, blueviolet);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue {
  background: blue;
  background: -webkit-linear-gradient(180deg, blueviolet, blue);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tasksContainer {
  max-height: 40vh;
  margin-top: 1rem;
  overflow-y: auto;
}

.task {
  background-color: #444;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 1rem 0;
  margin-right: 1rem;
  padding: 1rem;
  border-radius: 5px;
}

.task p {
  flex: 1;
}

.task button {
  background: none;
  color: red;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  cursor: pointer;
}

.task .checkButton {
  color: cyan;
}

.empty {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
